In [2]:
#!pip install opencv-python
#!pip install ghostscript
import tkinter as tk
import camelot
import pandas as pd
import numpy as np


# Test camelot (how does camelot package work ?)

In [3]:
tables = camelot.read_pdf('NAFAPE_2016_C_000_2920Z_SY.pdf', flavor='stream')

In [4]:
tables

In [5]:
tables.export('NAP_FILES_CSV/new/testtest.csv', f='csv', compress=True)

In [6]:
tables[0]

In [7]:
tables[0].parsing_report

{'accuracy': 98.33, 'whitespace': 24.08, 'order': 1, 'page': 1}

In [8]:
tables[0].to_csv('NAP_FILES_CSV/new/testtest.csv')

In [9]:
nap_df_1 = tables[0].df

In [10]:
type(nap_df_1)

pandas.core.frame.DataFrame

In [14]:
test_file = pd.read_csv("NAP_FILES_CSV/new/testtest.csv", encoding="utf-8")
relevant_df = test_file[14:95]
type(relevant_df)

pandas.core.frame.DataFrame

In [55]:
relevant_df.head(10)

,index1,nb_AT_1er_regle1,nb_new_IP1,nb_death1,nb_lost_days1,index2,nb_AT_1er_regle2,nb_new_IP2,nb_death2,nb_lost_days2
14,1 Non précisé,0,0,0,0,1 Non précisé,31,3,0,1 006
15,2 Moins de 20 ans,62,2,0,1 456,2lieu de travail habituel,1 314,75,0,72 985
16,3de 20 à 24 ans,166,4,0,4 413,3lieu de travail occasionnel,31,1,0,1 472
17,4de 25 à 29 ans,224,5,0,8 685,4lieu du repas,7,1,0,205
18,5de 30 à 34 ans,228,8,0,10 011,7au cours d'un déplacement pour l'employeur,13,1,0,316
19,6de 35 à 39 ans,221,8,0,9 935,8Non codés,96,8,0,10 895
20,7de 40 à 49 ans,415,23,0,25 539,NaN,NaN,NaN,NaN,NaN
21,8de 50 à 59 ans,375,35,0,23 965,NaN,REPARTITION SUIVANT LE TYPE DE LIEU DE L'ACCID...,NaN,NaN,NaN
22,9de 60 à 64 ans,23,4,0,2 462,1Site industriel,1 135,65,0,59 909
23,10 65 ans et plus,3,0,0,413,"2Chantier, construction, carrière, mine à ciel...",46,5,0,2 237

### Rename columns

In [16]:
relevant_df.columns=["index1","nb_AT_1er_regle1","nb_new_IP1","nb_death1","nb_lost_days1","index2","nb_AT_1er_regle2","nb_new_IP2","nb_death2","nb_lost_days2"]

In [17]:
relevant_df.head(8)

,index1,nb_AT_1er_regle1,nb_new_IP1,nb_death1,nb_lost_days1,index2,nb_AT_1er_regle2,nb_new_IP2,nb_death2,nb_lost_days2
14,1 Non précisé,0,0,0,0,1 Non précisé,31,3,0,1 006
15,2 Moins de 20 ans,62,2,0,1 456,2lieu de travail habituel,1 314,75,0,72 985
16,3de 20 à 24 ans,166,4,0,4 413,3lieu de travail occasionnel,31,1,0,1 472
17,4de 25 à 29 ans,224,5,0,8 685,4lieu du repas,7,1,0,205
18,5de 30 à 34 ans,228,8,0,10 011,7au cours d'un déplacement pour l'employeur,13,1,0,316
19,6de 35 à 39 ans,221,8,0,9 935,8Non codés,96,8,0,10 895
20,7de 40 à 49 ans,415,23,0,25 539,NaN,NaN,NaN,NaN,NaN
21,8de 50 à 59 ans,375,35,0,23 965,NaN,REPARTITION SUIVANT LE TYPE DE LIEU DE L'ACCID...,NaN,NaN,NaN

### split the relevant data frame in two based on index2 column

In [20]:
dfs=np.split(relevant_df, [5], axis=1)

In [21]:
left_table= dfs[0]
left_table.head()
#type(left_table)

               index1 nb_AT_1er_regle1 nb_new_IP1 nb_death1 nb_lost_days1
14      1 Non précisé                0          0         0             0
15  2 Moins de 20 ans               62          2         0         1 456
16    3de 20 à 24 ans              166          4         0         4 413
17    4de 25 à 29 ans              224          5         0         8 685
18    5de 30 à 34 ans              228          8         0        10 011

In [22]:
right_table=dfs[1]
right_table.head()

,index2,nb_AT_1er_regle2,nb_new_IP2,nb_death2,nb_lost_days2
14,1 Non précisé,31,3,0,1 006
15,2lieu de travail habituel,1 314,75,0,72 985
16,3lieu de travail occasionnel,31,1,0,1 472
17,4lieu du repas,7,1,0,205
18,7au cours d'un déplacement pour l'employeur,13,1,0,316

### looking for missing values NAN

In [23]:
left_table[left_table.isnull().any(axis=1)]

,index1,nb_AT_1er_regle1,nb_new_IP1,nb_death1,nb_lost_days1
24,NaN,NaN,NaN,NaN,NaN
25,NaN,REPARTITION SUIVANT LE SEXE DE LA VICTIME,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN
29,NaN,REPARTITION SUIVANT LA QUALIFICATION PROFESSIO...,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN
40,NaN,REPARTITION SUIVANT LA NATURE DES LESIONS,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN
78,NaN,REPARTITION SUIVANT LE SIEGE DES LESIONS,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN

In [24]:
#### how many lines contain NaN values:
left_table.shape[0]-left_table.dropna().shape[0]

15

In [25]:
right_table[right_table.isnull().any(axis=1)]

,index2,nb_AT_1er_regle2,nb_new_IP2,nb_death2,nb_lost_days2
20,NaN,NaN,NaN,NaN,NaN
21,NaN,REPARTITION SUIVANT LE TYPE DE LIEU DE L'ACCID...,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,NaN
37,NaN,REPARTITION SUIVANT LA DEVIATION (1),NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN
49,NaN,REPARTITION SUIVANT L'AGENT MATERIEL DE LA DEV...,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN
73,NaN,REPARTITION SUIVANT L'ACTIVITE PHYSIQUE SPECIF...,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN
84,NaN,REPARTITION SUIVANT LA MODALITE DE LA BLESSURE...,NaN,NaN,NaN

In [27]:
#### how many lines contain NaN values:
right_table.shape[0]-right_table.dropna().shape[0]

10

#### drop NaN

In [28]:
right_table= right_table.dropna(axis=0, how='any')

In [29]:
left_table= left_table.dropna(axis=0, how='any')

In [40]:
#left_table

### fucnction to list every pdf file in a given directory

In [1]:
import glob

In [2]:
pdf_list = glob.glob('NAP_FILES/*.pdf')

def find_pdfs(directory):
    files=[]
    for i in range(0, len(directory)):
        f= directory[i].rsplit('\\', 1)
        files.append(f[1])
    return files

print(len(find_pdfs(pdf_list)))

print(find_pdfs(pdf_list)[157])
print(find_pdfs(pdf_list)[157][0:26])

732
NAFAPE_2016_C_000_2053Z_SY.pdf
NAFAPE_2016_C_000_2053Z_SY

In [65]:
print(find_pdfs(pdf_list)[157][18:23])

2053Z

## create a dataframe for number of column in a csv by code nap

In [69]:
def parse_pdf_stat(alist):
    code_nap = []
    length = []
    #head_relevant_df_collection={}
    for i in range(0, len(alist)):
        table = camelot.read_pdf('NAP_FILES/'+alist[i], flavor='stream')
        table[0].to_csv('NAP_FILES_CSV/new/'+alist[i][0:26]+'.csv')
        file = pd.read_csv('NAP_FILES_CSV/new/'+alist[i][0:26]+'.csv', encoding="utf-8")
        core_relevant_df = file[14:95]
        code_nap.append(alist[i][18:23])
        length.append(len(core_relevant_df.columns))
    lenght_stats_pdf=pd.DataFrame({'code': code_nap, 'length_pd': length})
        
    return lenght_stats_pdf

In [71]:
f=parse_pdf_stat(find_pdfs(pdf_list))

In [72]:
f.to_csv('Nb_of_columns_in_codes_file.csv', encoding='utf-8')

In [73]:
f['length_pd'].unique()

array([14, 12, 10, 11, 13], dtype=int64)

## Apply camelot on a random pdf file of the list

In [35]:
tables1=camelot.read_pdf('NAP_FILES/'+ find_pdfs(pdf_list)[157], flavor='stream')

In [36]:
tables1[0]

In [42]:
nap_df_2=tables1[0].df
type(nap_df_2)

pandas.core.frame.DataFrame

In [43]:
tables1[0].to_csv('NAP_FILES_CSV/new/' + find_pdfs(pdf_list)[157][0:26] + '.csv')

In [45]:
test_file1 = pd.read_csv('NAP_FILES_CSV/new/' + find_pdfs(pdf_list)[157][0:26]+'.csv', encoding="utf-8")

In [50]:
test_file1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,NAF niveau 1 : Industrie manufacturière,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,ACCIDENTS DE TRAVAIL ANNEE 2016,NaN,NaN,NaN,NaN,NaN,NaN
1,NAF niveau 5 : 2053Z,NaN,NaN,NaN,NaN,NaN,Fabrication d'huiles essentielles,NaN,NaN,NaN,NaN,NaN
2,Nombre de salariés :,NaN,NaN,NaN,NaN,4 272,Indice de fréquence :,NaN,NaN,NaN,NaN,22
3,Nombre d'accidents de travail en premier règle...,NaN,NaN,NaN,NaN,95,Taux de fréquence :,NaN,NaN,NaN,NaN,14
4,dont avec au moins 4 jours d'arrêt :,NaN,NaN,NaN,NaN,79,Taux de gravité :,NaN,NaN,NaN,NaN,1

In [57]:
core_relevant_df1 = test_file1[14:95]
len(core_relevant_df1.columns)

12

In [58]:
head_relevant_df1= test_file1[2:8]
len(head_relevant_df1.columns)
#head_relevant_df = file[2:8].dropna(thresh=len(file[2:8]) - 2, axis=1)

12

In [59]:
core_relevant_df1[core_relevant_df1.isnull().any(axis=1)]

#left_table[left_table.isnull().any(axis=1)]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,NAF niveau 1 : Industrie manufacturière,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
14,1 Non précisé,NaN,0.0,0,0,0,1 Non précisé,NaN,1.0,0,0,61
15,2 Moins de 20 ans,NaN,1.0,0,0,1,2lieu de travail habituel,NaN,72.0,2,0,3 765
16,3de 20 à 24 ans,NaN,11.0,1,0,820,3lieu de travail occasionnel,NaN,1.0,0,0,81
17,4de 25 à 29 ans,NaN,14.0,0,0,313,4lieu du repas,NaN,1.0,0,0,44
18,5de 30 à 34 ans,NaN,12.0,1,0,280,7au cours d'un déplacement pour l'employeur,NaN,0.0,0,0,0
19,6de 35 à 39 ans,NaN,13.0,0,0,327,8Non codés,NaN,4.0,1,0,178
20,7de 40 à 49 ans,NaN,24.0,1,0,827,NaN,NaN,NaN,NaN,NaN,NaN
21,8de 50 à 59 ans,NaN,15.0,0,0,1 177,NaN,REPARTITION SUIVANT LE TYPE DE LIEU DE L'ACCID...,NaN,NaN,NaN,NaN
22,9de 60 à 64 ans,NaN,4.0,0,0,371,1Site industriel,NaN,54.0,2,0,3 052
23,10 65 ans et plus,NaN,1.0,0,0,13,"2Chantier, construction, carrière, mine à ciel...",NaN,2.0,0,0,215
24,NaN,NaN,NaN,NaN,NaN,NaN,"3Lieu pour agriculture, élevage, pisciculture,...",NaN,1.0,0,0,108
25,NaN,REPARTITION SUIVANT LE SEXE DE LA VICTIME,NaN,NaN,NaN,NaN,"4Lieu d'activité tertiaire, bureau, divertisse...",NaN,4.0,0,0,168
26,1 masculin,NaN,80.0,3,0,3 324,5Établissement de soins,NaN,2.0,0,0,59
27,2féminin,NaN,15.0,0,0,805,6Lieu public,NaN,1.0,0,0,134
28,NaN,NaN,NaN,NaN,NaN,NaN,7Domicile,NaN,0.0,0,0,0
29,NaN,REPARTITION SUIVANT LA QUALIFICATION PROFESSIO...,NaN,NaN,NaN,NaN,8Lieu d'activité sportive,NaN,0.0,0,0,29
30,1 Non précisé,NaN,0.0,0,0,82,"9En l'air, en hauteur - à l'exclusion des chan...",NaN,0.0,0,0,0
31,"2 Cadres, techniciens, a.m.",NaN,18.0,0,0,713,10 Sous terre - à l'exclusion des chantiers,NaN,0.0,0,0,0
32,3 Employés,NaN,19.0,0,0,646,11 Sur l'eau - à l'exclusion des chantiers,NaN,0.0,0,0,0
33,4 Apprentis,NaN,0.0,0,0,0,12 En milieu hyperbare - à l'exclusion des cha...,NaN,0.0,0,0,0
34,5 Elèves,NaN,0.0,0,0,0,13 Autre ou sans information,NaN,11.0,0,0,186
35,6 Ouvriers non qualifiés,NaN,23.0,2,0,1 365,14 Non codés,NaN,4.0,1,0,178
36,7 Ouvriers qualifiés,NaN,19.0,0,0,1 223,NaN,NaN,NaN,NaN,NaN,NaN
37,8 Divers,NaN,1.0,0,0,12,NaN,REPARTITION SUIVANT LA DEVIATION (1),NaN,NaN,NaN,NaN
38,Non codés,NaN,15.0,1,0,88,"1Problème électrique, explosion, feu",NaN,0.0,0,0,0
39,NaN,NaN,NaN,NaN,NaN,NaN,"2Débordement, renversement, fuite, etc.",NaN,3.0,0,0,54
40,NaN,REPARTITION SUIVANT LA NATURE DES LESIONS,NaN,NaN,NaN,NaN,"3Éclatement, glissade, chute, etc. d'agent mat...",NaN,1.0,0,0,30
41,1 Nature inconnue ou non précisée,NaN,9.0,0,0,367,4Perte de contrôle,NaN,13.0,0,0,510
42,2 Blessures superficielles,NaN,3.0,0,0,84,5Glissade ou trébuchement avec chute,NaN,9.0,0,0,643
43,3 Plaies ouvertes,NaN,9.0,1,0,238,6 Mouvement corps sans contrainte,NaN,12.0,1,0,1 099
...,...,...,...,...,...,...,...,...,...,...,...,...
65,25 Perte auditive aiguë,NaN,0.0,0,0,0,16 Dispositifs et équipements de sécurité,NaN,0.0,0,0,0
66,26 Effets de la pression (barotrauma),NaN,0.0,0,0,0,"17 Equipements bureau, sport, armes, domestiques…",NaN,2.0,0,0,28
67,"27 Autres effets bruit, vibrations et pression",NaN,0.0,0,0,0,18 Organismes vivants et êtres humains,NaN,0.0,0,0,0
68,28 Chaleur et coups de soleil,NaN,0.0,0,0,0,19 Déchets en vrac,NaN,0.0,0,0,0
69,29 Effets des radiations (non thermiques),NaN,0.0,0,0,0,"20 Phénomènes physiques, éléments naturels",NaN,0.0,0,0,0
70,30 Effets du froid,NaN,0.0,0,0,0,99 Autre ou sans information,NaN,19.0,1,0,961
71,"31 Autres effets t°, lumière, radiations",NaN,0.0,0,0,0,Non codés,NaN,4.0,1,0,178
72,32 Chocs suite à agressions et menaces,NaN,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
73,33 Chocs traumatiques,NaN,18.0,0,0,558,NaN,REPARTITION SUIVANT L'ACTIVITE PHYSIQUE SPECIF...,NaN,NaN,NaN,NaN
74,34 Autres chocs,NaN,1.0,0,0,108,1Opération de machine,NaN,2.0,1,0,331
75,35 Blessures multiples,NaN,0.0,0,0,0,2Travail avec des outils à main,NaN,2.0,0,0,23
76,36 Autres blessures déterminées non classées,NaN,3.0,0,0,302,3Conduite/présence moyen de transport-manutent...,NaN,3.0,0,0,147
77,NaN,NaN,NaN,NaN,NaN,NaN,4 Manipulation d'objets,NaN,20.0,1,0,1 045
78,NaN,REPARTITION SUIVANT LE SIEGE DES LESIONS,NaN,NaN,NaN,NaN,5Transport manuel,NaN,28.0,0,0,995
79,1Localisation de la blessure non déterminée,NaN,8.0,0,0,232,6 Mouvement,NaN,17.0,0,0,1 364
80,"2 Tête, sans autre spécification",NaN,3.0,0,0,21,7Présence,NaN,1.0,0,0,34
81,"3 Cou, dont colonne vertébrale et vertèbres du...",NaN,1.0,0,0,9,9Autre ou sans information,NaN,2.0,0,0,12
82,"4 Dos, dont colonne vertébrale et vertèbres du...",NaN,22.0,0,0,1 099,Non codés,NaN,4.0,1,0,178
83,"5 Torse et organes, sans autre spécification",NaN,1.0,0,0,15,NaN,NaN,NaN,NaN,NaN,NaN
84,"6 Membres supérieurs, sans autre spécification",NaN,31.0,3,0,1 382,NaN,REPARTITION SUIVANT LA MODALITE DE LA BLESSURE...,NaN,NaN,NaN,NaN
85,"7 Membres inférieurs, sans autre spécification",NaN,23.0,0,0,1 175,"1Contact courant électrique, t°, substance dan...",NaN,4.0,0,0,194
86,8 Ensemble du corps et endroits multiples,NaN,5.0,0,0,177,"2Noyade, ensevelissement, enveloppement",NaN,0.0,0,0,0
87,9 Autres parties du corps blessées,NaN,1.0,0,0,19,3Écrasement mouvement vertical ou horizontal,NaN,9.0,0,0,640
88,NaN,NaN,NaN,NaN,NaN,NaN,4Heurt par objet en mouvement,NaN,3.0,0,0,181
89,NaN,NaN,NaN,NaN,NaN,NaN,"5Contact agent matériel coupant, pointu, etc.",NaN,8.0,2,0,415
90,NaN,NaN,NaN,NaN,NaN,NaN,"6Coincement, écrasement, etc.",NaN,6.0,0,0,242
91,NaN,NaN,NaN,NaN,NaN,NaN,"7Contrainte du corps, contrainte psychique",NaN,41.0,0,0,2 232
92,NaN,NaN,NaN,NaN,NaN,NaN,"8 Morsure, coup de pied, etc.",NaN,0.0,0,0,0
93,NaN,NaN,NaN,NaN,NaN,NaN,9Autre ou sans information,NaN,4.0,0,0,47
94,NaN,NaN,NaN,NaN,NaN,NaN,Non codés,NaN,4.0,1,0,178

In [ ]:
core_relevant_df1 = core_relevant_df1.drop(["Unnamed: 1","Unnamed: 5","Unnamed: 8","Unnamed: 12"], axis=1)
#core_relevant_df = file[14:95].dropna(thresh=len(file[14:95]) - 16, axis=1)

In [ ]:
head_relevant_df1 = head_relevant_df1.drop(["Unnamed: 1","Unnamed: 2","Unnamed: 3","NAF niveau 1 : Agriculture, sylviculture et pêche","Unnamed: 5","Unnamed: 8","Unnamed: 9","Unnamed: 10","Unnamed: 11","Unnamed: 12"], axis=1)

In [ ]:
core_relevant_df1.columns=["index1","nb_AT_1er_regle1","nb_new_IP1","nb_death1","nb_lost_days1","index2","nb_AT_1er_regle2","nb_new_IP2","nb_death2","nb_lost_days2"]
head_relevant_df1.columns=["index1","stats1","index2","stats2"]
core_relevant_df1
head_relevant_df1